# macOS system files
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes

# Build files
/build/
*.o
*.obj
*.exe
*.out
*.a
*.so
*.dylib

# IDE configurations
.idea/
.vscode/
*.xcworkspace
*.xcuserdata/
*.xcodeproj/
DerivedData/

# CMake files
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Logs and temporary files
*.log
*.tmp
*.swp
*.d
